---
import { getCollection } from "astro:content";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

import ArrowOutward from "../../public/icons/material_symbols_arrow_outward.svg";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { formatDate} from '../lib/util';

const articles = (await getCollection("articles")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <main>
            <Nav active="journal" />
            <h1>
                Engineer, designer & entrepreneur building humane software to solve
                real problems.
            </h1>
            <section>
                <div class="section-title">
                    <h4>Journal</h4><span />
                </div>
                <table>
                    <thead>
                        <tr>
                            <th scope="col">Title</th>
                            <th scope="col">Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        {articles.map(article => (
                            <tr>
                                <td class="title">
                                    <a href={`journal/${article.id}`}>
                                        {article.data.title}<ArrowOutward />
                                    </a>
                                </td>
                                <td>{formatDate(article.data.pubDate)}</td>
                            </tr>
                        ))}
                    </tbody>
                </table>
            </section>
        </main>
        <Footer />
    </body>
</html>

<style lang="scss">
    h1 {
        width: 66%;
        font-size: 4.75rem;
        font-weight: 400;
        line-height: 4.625rem;
    }

    .section-title {
        display: flex;
        align-items: center;
        gap: 0.5rem;
        margin-top: calc(128px - 1.25rem);
        margin-bottom: 1rem;
        opacity: 0.6;

        h4 {
            font-size: 1.25rem;
            font-weight: 400;
        }

        span {
            content: '';
            display: block;
            width: 8rem;
            height: 1px;
            background: white;
        }
    }

    main {
        grid-column: span 5;
    }

    thead {
        display: none;
    }

    tbody tr {
        height: 48px;
        font-size: 1rem;
        border-top: 1px solid rgba(white, 0.1);
        transition: 0.1s ease-out;

        &:hover {
            background: white;
            color: black;
            .title a {
                color: black;
            }
        }

        .title {
            font-size: 2rem;
            padding-left: 2px;

            a {
                display: flex;
                gap: 8px;
                color: white;
                text-decoration: none;
            }

            svg {
                width: 32px;
                height: 32px;
                margin-top: 6px;
                color: black;
            }
        }
    }
</style>

