---
import { Image } from "astro:assets";
import { getCollection } from "astro:content";

import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";
import PageTitle from "../components/PageTitle.astro";
import RSSLink from "../components/RSSLink.astro";
import Table from "../components/Table.astro";

import HeroImage from "../../public/home-hero.jpg";
import ArrowDown from "../../public/icons/pixelarticons-arrow-down.svg";
import ArrowOutward from "../../public/icons/material_symbols_arrow_outward.svg";

import { SITE_TITLE, SITE_DESCRIPTION } from "../consts";
import { formatDate} from '../lib/util';

const articles = (await getCollection("articles")).sort(
    (a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
);
---

<!doctype html>
<html lang="en">
    <head>
        <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
    </head>
    <body>
        <Nav />
        <PageTitle count={articles.length}>Journal</PageTitle>
        <table>
            <thead>
                <tr>
                    <th scope="col">Title</th>
                    <th scope="col">Date</th>
                </tr>
            </thead>
            <tbody>
                {articles.map(article => (
                    <tr class="row" data-href={`journal/${article.id}`}>
                        <td class="title"><a href="/">{article.data.title}<ArrowOutward /></a></td>
                        <td>{formatDate(article.data.pubDate)}</td>
                    </tr>
                ))}
            </tbody>
        </table>
    </body>

    <script>
        
    </script>
</html>

<style lang="scss">
    table {
        grid-column: 1 / -1;
        grid-row: 3;
        margin-top: 40px;
    }

    thead tr {
        font-family: "IBM Plex Mono", monospace;
        border-bottom: 1px solid rgba(#ffffff, 0.07);
        margin-bottom: 0.5rem;
        text-transform: uppercase;
        color: rgba(#ffffff, 0.6);
    }

    tbody tr {
        height: 48px;
        font-size: 1rem;
        transition: 0.1s ease-out;

        &:hover {
            background: white;
            color: black;
            .title a {
                color: black;
            }
        }

        .title {
            font-size: 2rem;

            a {
                display: flex;
                gap: 8px;
                color: white;
                text-decoration: none;
            }

            svg {
                width: 32px;
                height: 32px;
                margin-top: 6px;
                color: black;
            }
        }
    }
</style>

