---
import type { CollectionEntry } from "astro:content";
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Nav from "../components/Nav.astro";

import BlueskyIcon from "../../public/icons/ri_bluesky.svg";

import { formatDate } from "../lib/util";
import { BSKY_HANDLE, SITE_DESCRIPTION } from "../consts";

type Props = CollectionEntry<"articles">["data"];

const { title, pubDate } = Astro.props;

const bskyText = Astro.url.href;
---

<html lang="en">
    <head>
        <BaseHead title={title} description={SITE_DESCRIPTION} />
        <meta name="fediverse:creator" content={BSKY_HANDLE} />
    </head>
    <body>
        <Nav active="journal" />
        <h1>{title}/</h1>
        <main>
            <time>{formatDate(pubDate)}</time>
            <a
                href={`https://bsky.app/intent/compose?text=${bskyText}`}
                target="_blank"
                referrerpolicy="no-referrer"
                class="frontmatter-link"
            >
                <BlueskyIcon />Share on Bluesky
            </a>
            <h4>About the author</h4>
            <article>
                <slot />
            </article>
            <aside>
                Software engineer, designer and entrepreneur focused on building
                humanely-designed, relentlessly-fast products that bring true
                value and delight to others.
                <br />
                <br />
                A devout Christ-follower, I hope to encourage other believers to
                reach their full potential and serve others as Christ serves us.
                <br />
                <br />
                Based in Tampa, FL, USA.
            </aside>
            <Footer />
        </main>
    </body>
</html>

<style lang="scss" is:global>
    footer {
        display: flex;
        align-items: end;
        grid-column: span 3;
        padding-bottom: 1rem;
    }
</style>

<style lang="scss">
    h1 {
        grid-column: 2 / 4;
        grid-row: span 2;
        font-size: 4.75rem;
        font-weight: 400;
        line-height: 4.625rem;
    }

    main {
        grid-column: 2 / 5;

        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1.5rem 1fr 32rem;
        gap: 1.5rem;
    }

    time {
        opacity: 0.6;
    }

    .frontmatter-link {
        display: flex;
        gap: 4px;
        color: white;
        opacity: 0.6;
        transition: 150ms ease-out;

        &:hover {
            opacity: 1;
        }
    }

    main h4 {
        font-size: 1rem;
        font-weight: 400;
        opacity: 0.6;
    }

    article {
        grid-column: span 2;
    }

    aside {
        opacity: 0.6;
    }

    @media screen and (width < 900px) {
    }
</style>

<style lang="scss" is:global>
    article {
        font-size: 1.25rem;
    }

    article a {
        transition: 150ms ease-out;
    }

    article h2 {
        font-size: 2.5rem;
        margin-top: 3rem;
    }

    /** light theme */
    html.light article {
        a {
            color: rgba(#000, 0.6);

            &:hover {
                color: black;
            }
        }
    }

    /** dark theme */
    html:not(.light) article {
        a {
            color: rgba(#fff, 0.7);

            &:hover {
                color: white;
            }
        }
    }
</style>
